body {
    font-family: "Ubuntu", sans-serif;
}

main {
    margin: 0 auto;
    max-width: 1000px;
}

table {
    margin: 5rem auto;
    box-shadow: 0.5rem 0.5rem 0.5rem #628ca6;
}

table, th, td {
    border: 1.5px solid rgb(170, 170, 170);
    border-collapse: collapse;
}

th, td {
    padding: 0.5rem;
    text-align: center;
}

thead tr:first-child, tfoot tr:first-child {
    background-color: #7fb9c2;
    font-weight: bold;
    text-align: center;
}

thead tr:first-child {
    font-size: 1.5rem;
}

thead tr:not(:first-child) {
    background-color: #628ca6;
    font-weight: bold;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}

tbody tr:nth-child(even) {
    background-color: #e7ffed;
}

#italic {
    font-style: italic;
}

.color_highlight {
    background-color: #628ca6;
    color: white;
}

tfoot {
    font-size: 0.7rem;
}