@media only screen and (min-width: 37.5em) {
    .navigation {
        font-size: 1rem;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        padding: 0;
        margin: 0;
        overflow: hidden;
        align-items: center;
        justify-content: space-around;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
        align-items: center;
    }

    .navigation li:first-child {
        display: none;
    }

    .responsive li {
        display: none;
    }

    #logo_image {
        height: auto; 
        width: auto;
        max-width: 125px; 
        max-height: 125px;
    }

    h1 {
        font-size: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    h2 {
        font-size: 2rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}