body {
    margin: 1.25rem auto;
    max-width: 900px;
}

h1 {
    text-align: center;
}

main {
    display: grid;
    row-gap: 2rem;
    width: auto;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

picture {
    justify-self: center;
}

picture img[data-src] {
    filter: blur(0.2em);
}
  
picture img[src] {
    filter: blur(0em);
    transition: filter 0.5s;
}