@media only screen and (min-width: 48em) {
    .nav_menu {
        font-size: 1rem;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        padding: 0;
        margin: 0;
        overflow: hidden;
        align-items: center;
        justify-content: space-around;
    }

    .nav_menu li {
        display: none;
    }

    .medium_menu li:nth-child(1), .medium_menu li:nth-child(2), .medium_menu li:nth-child(3) {
        display: block;
    }

    .nav_menu li:first-child {
        display: block;
    }

    .nav_menu li a {
        flex: 1 1 auto;
        padding: 0.8rem 1.5rem;
    }

    .small_menu li:nth-child(2), .small_menu li:nth-child(3) {
        display: none;
    }

    .small_menu li {
        display: block;
        flex: 1 1 auto;
        list-style-type: none;
        align-items: center;
    }


    #hero_text, #city_hero_text, #join_hero_text, #confirmation_hero_text, #directory_hero_text, #contact_hero_text {
        position: absolute;
        top: 32%;
        font-size: 2rem;
        line-height: 2rem;
        padding: 2.2rem;
    }
    
    #hero_text {
        left: 12%;
        width: 35%;
    }
    
    #join_hero_text {
        left: 20%;
        width: 50%;
    }
    
    #city_hero_text {
        left: 32%;
        width: 32%;
    }
    
    #directory_hero_text {
        left: 30%;
        width: 33%;
    }
    
    #contact_hero_text {
        left: 31%;
        width: 28%;
    }

    header button {
        bottom: 15%;
        font-size: 1.1rem;
    }
}