@media only screen and (min-width: 37.5em) {    
    nav ul {
        display: flex;
        padding: 0rem;
    }

    nav ul li {
        flex: 1 1 auto;
        align-items: center;
    }

    h1, h2, h3, p {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    
    #headshot, #color_palette {
        border-radius: 1rem;
    }

    #headshot {
        float: right;
        margin: 0.5rem 2rem 0 2rem;
    }
}