body {
    font-size: 20px;
    line-height: 1.5;
    color: #3D3D3D;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    background-color: #F1F5F9;
}

header, main, h2, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header, footer {
    background-color: #487CAC;
    color: white;
}

header {
    margin-top: 0;
}

footer {
    margin-bottom: 0;
}

nav ul {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    display: inline;
    padding: 0rem;
    overflow: hidden;
}

nav ul li {
    display: block;
    list-style-type: none;
    text-align: center;
}

nav ul li a {
    padding: 2rem;
    display: block;
    color: #F1F5F9;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
  }

h1, h2, h3, p, #headshot {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

h1 {
    font-size: 2.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
}

#smaller_headline {
    font-size: 2.5rem;
}

#montserrat_type {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#open_sans_type {
    font-family: 'Open Sans Condensed', sans-serif;
}

p, footer{
    font-weight: 300;
}

#logo_image, #headshot, #color_palette {
    border: 5px solid #F4B490;
    height: auto; 
    width: auto;
}

#logo_image, #headshot {
    max-width: 325px; 
    max-height: 325px;
}

#logo_image {
    border-radius: 1rem;
}

#headshot {
    margin: 0.5rem 2rem 0 1.5rem;
}

#color_palette {
    max-width: 98%; 
    max-height: 98%;
}

footer {
    text-align: center;
}

footer a {
    color: white;
}